@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(211, 218, 217);
  --foreground: #18181b;
}

.dark {
  --background: #44444E;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
}
